<html>
    <body>
        <h1>Cadastro de produtos</h1>
        <form action="/cadastro" method="POST">
            <p>
                Marca: <select name="marca">
                    <option>FaberCastell</option>
                    <option>Acrilex</option>
                    <option>Mapped</option>
                    <option>Suzano</option>
                </select>
            </p>
            <p>
                Descrição: <input type="text" name="descricao" value="" />
            </p>
            <p>
                Preço: <input type="text" name="preco" value="" />
            </p>
            <p>
                Incluir: <input type="submit" value="salvar" />
            </p>
            
        </form>
    </body>
</html>